
<hr>

<!-- SEZIONE ASSEGNAZIONE PERSONE AL PROGETTO -->
<h3>Assegna persone al progetto</h3>

<div>
  <label>Persona ID:</label>
  <input type="number" [(ngModel)]="tempAssegnazione.personaId"><br><br>

  <label>Ruolo ID:</label>
  <input type="number" [(ngModel)]="tempAssegnazione.ruoloId"><br><br>

  <label>Permessi:</label><br>

  <label>
    <input type="checkbox" [(ngModel)]="tempAssegnazione.hasPrgGestisci">
    Gestisci progetto
  </label><br>

  <label>
    <input type="checkbox" [(ngModel)]="tempAssegnazione.hasAttAggiungi">
    Aggiungi attività
  </label><br>

  <label>
    <input type="checkbox" [(ngModel)]="tempAssegnazione.hasAttAssegna">
    Assegna attività
  </label><br>

  <label>
    <input type="checkbox" [(ngModel)]="tempAssegnazione.hasAttStato">
    Modifica stato attività
  </label><br>

  <label>
    <input type="checkbox" [(ngModel)]="tempAssegnazione.hasAttPrendi">
    Prendi in carico attività
  </label><br><br>

  <button (click)="addAssegnazione()">Aggiungi persona</button>
</div>

<div *ngIf="newProgetto.assegnazioni.length > 0">
  <h4>Persone assegnate:</h4>

  <ul>
    <li *ngFor="let a of newProgetto.assegnazioni">
      Persona {{a.personaId}} — Ruolo {{a.ruoloId}}
    </li>
  </ul>
</div>

<hr>